.lumi_sfm {

	.copy_to_clipboard {
		font-size: 0;
		background: none;
		padding: 5px;
		border: none;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		&::before {
			content: "\f105";
			display: inline-block;
			-webkit-font-smoothing: antialiased;
			font: normal 20px/1 'dashicons';
			vertical-align: top;
		}
	}

}