.lumi_sfm {

	.copy_to_clipboard {
		font-size: 0;
		background: none;
		padding: 5px;
		border: none;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;

		&::before {
			content: "\f105";
			display: inline-block;
			-webkit-font-smoothing: antialiased;
			font: normal 20px/1 'dashicons';
			vertical-align: top;
		}

		&:active
		&:focus {
			outline: none;
		}

		&.copied::before {
			color: #d54e21;
		}
	}

	&__size_div {
		line-height: 1em;
		padding: 1em;
		box-sizing: border-box;

			&__meter {
				height: 15px;
				width: 300px;

					&::-webkit-meter-bar {
						background: none;
						border: 1px solid #ccc;
					}

					&::-webkit-meter-optimum-value {
						background: #00a0d2;
					}

					&::-webkit-meter-suboptimum-value {
						background: #e40000;
					}

			}
	}

}